body {
  background-color: #1d1d1d;
  min-height: 100vh;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
.uk-logo,
h1,
h2,
h3,
h4,
h5,
h6,
a{
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "PT Sans", sans-serif;
}

.uk-input, .uk-input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #aaaaaa;
}

.uk-background-secondary .uk-modal-title {
  color: #ffffff;
}

.uk-link, .uk-link:hover, a:hover {
  color: #33669a;
  text-decoration: none;
}
