on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
      - name: go test
        run: |
          go test ./...
